* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* 
colour style hex codes
#EBD400 - Orangey-yellow
#492BAB - Purple
*/


/* PAGE HEADER CSS STYLING*/


.jumboTronContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-self: center;
}

.jumboTronTopSection {
    display: inline-flex;
    flex-direction: row;
    background-image: url("./assets/backgrounds/bright-squares.png");
    background-color: #492BAB;
    color: #EBD400;;
}

.jumboTronBottomSection {
    background-color: #EBD400;
    color: #492BAB;
}

.jumboTronTopSection div {
    display: flex;
    flex-direction: column;
}


.jumboTronTopSection h1,h2,ul {
    padding: 20px;
}


.jumboTronTopSection h2 {
    font-size: 28px;
}

.pageHeaderSubHighlights li {
    padding: 20px 30px 20px 30px;
    list-style-type: none;
    display: inline-flex;
}

.pageHeader {
    text-align: left;
    position: relative;
    font-size: 48px;
}

.portraitContainer {

}

.portraitContainer figure {
    display: flex;
    background-color:#EBD400;;
    width: 40vh;
    padding: 20px;
}

.portrait {
    height: auto;
    width: 100%;
}


/* PROJECT PANE CSS STYLING*/




/* NAVBAR AND FOOTER STYLING*/

.footer {
    display: flex;
    padding: 0;
    border: 0;
    margin: 0;
    background-image: url("./assets/backgrounds/bright-squares.png");
    background-color: #492BAB;
}

.navbar {
    background-image: url("./assets/backgrounds/bright-squares.png");
    background-color: #492BAB;
}